#container{
  width: 90%;
}

.sound-block{
  display: inline-block;
  width: 30.5%;
  transform: rotateZ(45deg);
  margin-top: 20%;
  margin-left: 1%;
  margin-right: 1%;
  background: none;
}

.sound{
  width: 2em;
  height: 2em;
  position: relative;
  background-color: rgb(200, 195, 191);
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  /*opacity: 0.5;*/
  opacity: 1;
  border-radius: 5px;
}


.active{
  background-color: rgb(206, 147, 71);
}

.pending{
  animation: pendingadd 1.5s infinite;
  animation-timing-function: ease-in;
}

@keyframes pendingadd {
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
