body{
	height: 100%;
	background-color: grey;
}

#instructions{
	text-align: center;
	display: block;
	font-family: Helvetica;
}

#instructions h1{
	font-size: 25px;
}

#instructions p{
	font-size: 15px;
}

#circle{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	background: -webkit-radial-gradient(100px 50px, circle, #fff, #000);
	box-shadow: 2px 5px 20px grey;
}

#platform{
	width: 80%;
	margin: 1% 10%;
	display: block;
	position: absolute;
	height: 70%;
	background-color: #bbb;
	border: 10px solid black;
	box-shadow: 0px 5px 20px black;
}

#platform p{
	font-size: 50px;
	color: pink;
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#hole{
	width: 100px;
	height: 100px;
	background-color: #bbb;
	position: fixed;
	border-radius: 50%;
	box-shadow: inset 0px 0px 50px 35px rgba(0,0,0,0.9);
}

#score{
	display: block;
	border: 3px solid black;
	width: 80px;
	height: 50px;
	position: absolute;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 0 1%;
}

#container{
	max-width: 80%;
	background: #bbb;
	margin: auto;
}
