body{
	height: 100%;
}

#circle{
	width: 70px;
	height: 70px;
	/*background-color: pink;
	border: 5px solid black;*/
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	background: -webkit-radial-gradient(100px 50px, circle, #fff, #000);
	box-shadow: 2px 5px 20px grey;
}

#platform{
	width: 1500px;
	height: 550px;
	margin: 0;
	background-color: pink;
}

#whole{
	width: 100px;
	height: 100px;
	background-color: #bbb;
	position: fixed;
	border-radius: 50%;
	box-shadow: inset 0px 0px 50px 35px rgba(0,0,0,0.9);
}

#score{
	display: block;
	border: 1px solid black;
	width: 100px;
	height: 50px;
	position: absolute;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color: purple;
}

#container{
	max-width: 80%;
/*	height: 80%;*/
	background: #bbb;
	margin: auto;
}